<%= form_with(model: borrow, class: "contents") do |form| %>
  <% if borrow.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(borrow.errors.count, "error") %> prohibited this borrow from being saved:</h2>

      <ul class="list-disc ml-6">
        <% borrow.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": borrow.errors[:user_id].none?, "border-red-400 focus:outline-red-600": borrow.errors[:user_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :book_id %>
    <%= form.text_field :book_id, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": borrow.errors[:book_id].none?, "border-red-400 focus:outline-red-600": borrow.errors[:book_id].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :borrowed_at %>
    <%= form.datetime_field :borrowed_at, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": borrow.errors[:borrowed_at].none?, "border-red-400 focus:outline-red-600": borrow.errors[:borrowed_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :returned_at %>
    <%= form.datetime_field :returned_at, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": borrow.errors[:returned_at].none?, "border-red-400 focus:outline-red-600": borrow.errors[:returned_at].any?}] %>
  </div>

  <div class="my-5">
    <%= form.label :status %>
    <%= form.text_field :status, class: ["block shadow-sm rounded-md border outline-hidden px-3 py-2 mt-2 w-full", {"border-gray-400 focus:outline-blue-600": borrow.errors[:status].none?, "border-red-400 focus:outline-red-600": borrow.errors[:status].any?}] %>
  </div>

  <div class="inline">
    <%= form.submit class: "rounded-md px-3.5 py-2.5 bg-blue-600 hover:bg-blue-500 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
